<%= div_for coordinate do %>
  <% if coordinate.multiplier != '' %>
    <div class='multiple_info'>
      <div class='scroll'>
        <span class='multiplier'><%= coordinate.multiplier %></span>
        x<span class='multiple'><%= coordinate.multiple %></span>
      </div>
    </div>
  <% else %>
    <span>X</span>
  <% end %>
<% end %>
<% if coordinate.vertical == 14 %>
  <br>
<% end %>


