<%= render 'update_droppable' %>

var player = <%= @player %>
var hand = '#p' + player + '_hand'

var reset_ids = {
  ids: <%= @reset_ids %>,
  reset: function() {
    for (i=0; i < this.ids.length; i++) {
      coordinate_div = '#coordinate_' + this.ids[i]
      $(coordinate_div).removeClass('taken')
      $(coordinate_div).find('.taken_letter').remove()
      $(coordinate_div).find('.multiple_info, span').show()
      $(coordinate_div).droppable('enable')
      if ($(coordinate_div).hasClass('multiple_div') === false) {
        $(coordinate_div).find('span').text('X').css('color', '#FFE1AA')
        $(coordinate_div).css('background-color', '#FFE1AA')
      } else {
        $(coordinate_div).css('background-color', '#95c2a6')
      }
    }
  }
}

var reset_letters = {
  letters: <%= @letters %>,
  reset: function() {
    for (i=0; i < this.letters.length; i++) {
      $(hand).children('ul').append(
        "<li><div class='letter'>" + alphabet[this.letters[i]] + "</div></li>"
      )
    }
  }
}

reset_ids.reset()
reset_letters.reset()
dropResetter.reset()

$(hand + ' .letter').addClass('draggable')
BindDraggable('.draggable')

