<%= div_for @game do %>
  <div id="coordinates">
    <%= render @coordinates %>
  </div>
<% end %>

<div id='p1_hand', class='hand'>
  <%= render :partial => 'player_view', locals: {game: @game, hand: @p1_hand, player: 'Player 1'} %>
</div>

<div id='p2_hand', class='hand'>
  <%= render :partial => 'player_view', locals: {game: @game, hand: @p2_hand, player: 'Player 2'} %>
</div>