<%= div_for @game do %>
  <%= render @coordinates %>
<% end %>

<div id='p1_hand', class='hand'>
  <h2>Player 1</h2>
  <h3>Score:</h3>
  <span class='score'>0</span>
  <%= render :partial => 'hand', locals: {hand: @p1_hand} %>
</div>

<div id='p2_hand', class='hand'>
  <h2>Player 2</h2>
  <h3>Score:</h3>
  <span class='score'>0</span>
  <%= render :partial => 'hand', locals: {hand: @p2_hand} %>
</div>