<header>
  <h1>Scrabble Clone</h1>
  <%= button_to 'New Game', games_path, :id => 'new_game_button', remote: :true %>
  <button id='rules_button'> See Rules </button>
</header>

<%= render :partial => 'rules' %>

<div id='errors'>
</div>

<div id='game_container'>
</div>