#game_container {
  margin-bottom: 20px;
}

.game {
  background-color: #553700;
  margin: 0 auto;
  /*display: table;*/
  padding: 10px;
  display: none;
  box-shadow: 0 0 10px black;

  #coordinates {
    display: table;
  }

  .multiple_div {
    background-color: #95c2a6 !important;
    color: white !important;
    outline: 1px dashed white;
    outline-offset: -3px;

    .multiple_info {
      text-align: center;
      overflow: hidden;
      .scroll {
        position: relative;
        top: 0px;
        transition: top 0.2s;
      }

      .scroll:hover {
        top: -25px;
      }
      .multiplier, .multiple {
      }
    }
  }

  .coordinate {
    color: #FFE1AA;
    width: 25px;
    height: 25px;
    /*overflow: auto;*/
    text-align: center;
    background-color: #FFE1AA;
    border: 1px solid #805A15;
    display: inline-flex;
    font-size: 20px;
    padding: 10px;
  }
}

.letter {
  width: 25px;
  text-align: center;
  background-color: #FFE1AA;
  border: 1px solid #805A15;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  transition: all 0.2s;
}

.letter:hover {
  background-color: #805A15;
  color: white;
  cursor: pointer;
}

.hand {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px black;

  h2 {
    margin-top: 0;
  }

  .successful_words {
    display: none;

    .words {
      span {
        /*display: none;*/
      }
    }
  }

  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .word_buttons {
    display: none;
  }
}

#p1_hand, #p2_hand {
  position: absolute;
  top: 150px;
  display: none;
}

#p1_hand {
  left: 50px;
}

#p2_hand {
  right: 50px;
}
